/gsb/gsb-cms/bin
/gsb/gsb-cms/build
/gsb/gsb-cms/.classpath
/gsb/gsb-cms/.project
/gsb/gsb-cms/.settings
/gsb/gsb-crm/bin
/gsb/gsb-crm/build
/gsb/gsb-crm/.classpath
/gsb/gsb-crm/.project
/gsb/gsb-crm/.settings
/gsb/gsb-bd/.project
/gsb/gsb-bd/.classpath
/gsb/gsb-controls/.classpath
/gsb/gsb-controls/.project
/gsb/gsb-entity/.project
/gsb/gsb-entity/.classpath
/gsb/gsb-er/.project
/gsb/gsb-er/.classpath
/gsb/gsb-ma/.project
/gsb/gsb-ma/.classpath
/gsb/gsb-product/bin
/gsb/gsb-product/.classpath
/gsb/gsb-product/.project
/gsb/gsb-taurus/.project
/gsb/gsb-taurus/.classpath
/gsb/gsb-taurus-sdk/.classpath
/gsb/gsb-taurus-sdk/.project
/gsb/gsb-test/.project
/gsb/gsb-test/.classpath
/gsb/gsb-trade/.project
/gsb/gsb-trade/bin
/gsb/gsb-trade/.classpath
/gsb/gsb-uc/.project
/gsb/gsb-uc/bin
/gsb/gsb-uc/.classpath
/gsb/gsb-web/.project
/gsb/gsb-web/.classpath
/gsb/.classpath
/gsb/gsb-taurus-sdk/bin
/gsb/gsb-api/.settings
/gsb/gsb-api/.classpath
/gsb/gsb-api/.project
/gsb/gsb-yj/.project
/gsb/gsb-yj/.settings
/gsb/gsb-yj/bin
/gsb/gsb-yj/build
/gsb/gsb-yj/.classpath
/.settings
/gsb/gsb-report/.settings
/gsb/gsb-report/bin
/gsb/gsb-report/build
/gsb/gsb-report/.classpath
/gsb/gsb-report/.project
/gsb/*/out
/gsb/gsb.iml
/Servers
/RemoteSystemsTempFiles
/.metadata
/gsb/gsb-igirl/.project
/gsb/gsb-igirl/.settings
/gsb/gsb-igirl/bin
/gsb/gsb-igirl/build
/gsb/gsb-igirl/.classpath
/gsb/gsb-sms/.settings
/gsb/gsb-sms/.project
/gsb/gsb-sms/.classpath
/.gradle/
/.recommenders/
/gsb/gsb-sms/.classpath
/gsb/gradle.properties
/gsb/gsb-web/src/main/resources/dev/conf/configuration.properties
/gsb/.idea
/gsb/gsb-gardian/.project
/gsb/gsb-gardian/.settings
/gsb/gsb-gardian/bin
/gsb/gsb-gardian/build
/gsb/gsb-gardian/.classpath
