/build/
/.gradle
/.settings
.idea
/gsb-bd/.settings
/gsb-cms/.settings
/gsb-controls/.settings
/gsb-crm/.settings
/gsb-entity/.settings
/gsb-er/.settings
/gsb-ma/.settings
/gsb-product/.settings
/gsb-taurus/.settings
/gsb-taurus-sdk/.settings
/gsb-test/bin
/gsb-test/.settings
/gsb-trade/.settings
/gsb-uc/.settings
/gsb-web/.settings
/.project
/bin/
/gradle.properties
/gsb-web/src/main/resources/dev/conf/configuration.properties
classes/
!/.gitignore
!/gsb-web/src/main/resources/dev/conf/configuration.properties
